<div class="container__small-card">
    <div class="small-card__photo">
        <img 
            src="assets/stock-vector-angular-js-the-popular-javascript-framework-programming-language-coding-software-technology-vector-1494250442.jpg" 
            alt="Placeholder" 
            height="150px"
        />
    </div>
    <div class="small-card__title">
         <p>
            <a 
                href="https://angular.dev" 
                target="_blank" 
                rel="noopener noreferrer"
            >
                It is a long established fact that a reader will be distracted by the 
                readable content of a page when looking at its layout.
            </a>
        </p>
    </div>
</div>
